@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.shortlisted {
    font-weight: 600;
    font-size: 18px;
    color: #05406B;
    padding: 20px 40px;
    margin: 30px 0 25px 0;
    border-top: 2px solid #B4C9D8;
    border-bottom: 2px solid #B4C9D8;
	text-align:center;
}

.cogcss
{
margin-left:30px;	
}


}




#par {
    font-weight: 600;
    font-size: 18px;
    color: #05406B;
    padding: 20px 40px;
    margin: 30px 0 25px 0;
    border-top: 2px solid #B4C9D8;
    border-bottom: 2px solid #B4C9D8;
	text-align:center;
}

a.theme
{
	color: #03A9F4; 
}

a.date, a.mut, a.regt
{
	color:#fff !important;
}

@font-face {
    font-family: 'noven';
    src: url('fonts/novecentowide-medium-webfont.eot');
    src: url('fonts/novecentowide-medium-webfontd41d.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-medium-webfont.woff2') format('woff2'), url('fonts/novecentowide-medium-webfont.woff') format('woff'), url('fonts/novecentowide-medium-webfont.ttf') format('truetype'), url('fonts/novecentowide-medium-webfont.svg#novecento_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  /*  color: inherit; */
	color: #03A9F4; 
}

a:hover, a:visited, a:active, a:focus {
    color: inherit ;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

.container-fluid {
    max-width: 1230px;
}

h2 {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 0;
    /*color: #42BA78;  */
	 color : #03A9F4; 

}

h2.light {
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 1.8;
}

.full-width {
    width: 100%;
}


/******************* Banner *****************/

.banner {
    background: url('../images/mitsbg.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 174px;
}

.header {
    padding: 20px 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header a {
    color: #05406B;
    font-weight: 600;
}

.site-logo {
    display: inline-block;
    text-indent: -9999999px;
	background: url('../images/mits.png') no-repeat center;	    
	background-size: cover;
	width: 200px;
	height: 45px;
	image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
}

.main-nav {
    padding-top: 2px;
    margin-bottom: 0;
    text-align: right;
    letter-spacing: 1.2px;
}

.sticky .banner {
    padding-top: 63px;
}

.sticky .header {
    width: 100%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1;
    background-color: #fff;
}

.main-nav li {
    margin-right: 30px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.banner-text h1 {
    max-width: 900px;
    text-align: center;
    font-weight: bold;
  /*  margin: 194px auto 52px auto; */
   margin: 80px auto 52px auto;
    color: #fff;
    font-size: 42px;
    line-height: 1.3;
}

.reg 
{
	text-align: center;
    font-weight: bold;
    background: transparent !important;
    border: 3px solid #313131; 
	box-sizing: border-box;
  line-height: 4.8rem;
/*  border-color: #FFFFFF; */
  	border-color : #03A9F4;
  color: #FFFFFF;
  font-size:25pt;
 /* border-width: thin;  */
  width:200px;
   margin-top:50px; 
  margin-left: 500px;   
}

.reg1 
{
	text-align: center;
    font-weight: bold;
    background: transparent !important;
    border: 3px solid #313131; 
	box-sizing: border-box;
  line-height: 4.8rem;
/*  border-color: #FFFFFF; */
  	border-color : #03A9F4;
  color: #FFFFFF;
  font-size:25pt;
 /* border-width: thin;  */
  width:200px;
   margin-top:20px; 
   
}


.reg2
{
	text-align: center;
    font-weight: bold;
    background: transparent !important;
    border: 3px solid #313131; 
	box-sizing: border-box;
  line-height: 4.8rem;
/*  border-color: #FFFFFF; */
  	border-color : #03A9F4;
  color: #FFFFFF;
  font-size:25pt;
 /* border-width: thin;  */
  width:200px;
   margin:auto; 
   
}

.boxr
{
  box-sizing: border-box;
  margin-top:50px;  
	
}





.banner-text h1 span {
    font-size: 54px;
}

.location-list {
    text-align: center;
}

.location-list li {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /*text-transform: uppercase;*/
    margin-right: 10px;
}

.location-list li:last-child {
    margin-right: 0;
}

.location-list i {
    font-size: 30px;
    margin-right: 6px;
  /*  color: #42BA78; */
	color: #03A9F4;
    display: inline-block;
    vertical-align: middle;
}


/******************* Banner *****************/

.padded-section {
    padding-top: 92px;
    padding-bottom: 80px;
}

.about {
 
  background-color: #fff;

    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
}
.about h2 {
	margin-bottom: 30px;
}
.mitshackathon {
    display: block;
    margin-top: 50px;
    margin-bottom: 40px;
}

.mitshackathon img {
    margin: 0 auto;
    display: block;
	width : 200px;
	height : 45px;
}

.mitshackathon:hover {
    opacity: 0.89;
}

.about h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  /*  color: #42BA78; */
	color: #03A9F4;
}

.about p {
    max-width: 930px;
    margin: 0 auto 15px auto;
    text-align: justify;
    line-height: 2.2;
    font-weight: 600;
    color: #10416B;
}


/******************* Schedule *****************/

.schedule {
    background-color: #05406B;
}

.schedule .container-fluid {
    max-width: 1080px;
}

.schedule h3 {
    font-size: 30px;
  /*  color: #42BA78; */
	color: #03A9F4;
    font-weight: bold;
}

.event-list {
    position: relative;
    margin-top: 56px;
}

.event-list li {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-left: 40px;
}

.event-list li:last-child {
    padding-bottom: 0;
}

.event-list li:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
 /*   background-color: #42BA78; */
	background-color: #03A9F4;
    position: absolute;
    left: -4px;
    top: 10px;
}

.event-list:before {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    width: 1px;
    height: calc( 100% - 25px);
    background-color: #42BA78;
}

.event-list li span {
    display: inline-block;
    width: 40%;
    /*padding-right: 35px;*/
}


/******************* FAQ *****************/

.faq .container-fluid {
    max-width: 950px;
}

.accordion-list {}

.accordion-list li {
    display: block;
    border-bottom: 1px solid #D1D3D4;
    padding: 30px 0;
}

.accordion-list li:last-child {
    border: none;
}

.accordion-list li .acc-head {
    position: relative;
    font-size: 14px;
    color: #10416B;
    font-weight: 600;
    padding: 0 140px 0 0;
    cursor: pointer;
}

.accordion-list li .acc-head .icon-acc {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #58595B;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.accordion-list li .acc-head .icon-acc:before {
    content: "\e906";
}

.accordion-list li.active .acc-head .icon-acc:before {
    content: "\e903";
}

.accordion-list li .acc-body {
    color: #6D6E71;
    font-size: 14px;
    padding-right: 140px;
    padding-top: 0;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.accordion-list li.active .acc-body {
    max-height: 500px;
    padding-top: 30px;
}


/******************* Register *****************/
.registerhafter {
    display: none;
    padding-top: 80px;
    padding-bottom: 40px;
    background: url('../images/register.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}
    .registerhafter .container-fluid {
        max-width: 900px;
        color: #fff;
    }
     
   
    
    .registerhafter h2 {
        margin-top: 0;
        font-size: 25px;
        color: #fff;
    }

        .registerhafter h2 i {
            color: #42BA78;
            margin-right: 15px;
            display: inline-block;
            vertical-align: sub;
            font-size: 46px;
        }

        .registerhafter h2 span {
            font-size: 32px;
            margin-left: 5px;
        }

    .registerhafter h3 {
        color: #fff;
        font-size: 18px;
        padding: 40px 0 30px 0;
        margin: 0;
        font-weight: 600;
    }

.btn-registerhafter {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 12px;
    background-color: #42BA78;
}

    .btn-registerhafter:hover {
        color: #fff;
        opacity: 0.8;
    }



.register {
    display:block;
    padding-top: 80px;
    padding-bottom: 40px;
    background: url('../images/register.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}


.register .container-fluid {
    max-width: 900px;
    color: #fff;
}

.register h2 {
    margin-top: 0;
    font-size: 25px;
    color: #fff;
}

.register h2 i {
    color: #42BA78;
    margin-right: 15px;
    display: inline-block;
    vertical-align: sub;
    font-size: 46px;
}

.register h2 span {
    font-size: 32px;
    margin-left: 5px;
}

.register h3 {
    color: #fff;
    font-size: 18px;
    padding: 40px 0 30px 0;
    margin: 0;
    font-weight: 600;
}

.btn-register {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 12px;
  /*  background-color: #42BA78;  */
	background-color: #03A9F4;
}

.btn-register:hover {
    color: #fff;
    opacity: 0.8;
}


/*.register p {
	
}*/


/******************* Prizes *****************/

.prizes {
    text-align: center;
}

.prizes .container-fluid {
    max-width: 980px;
}

.prize-pool {
    background-color: #42BA78;
    padding: 80px 70px 70px 70px;
}

.prize-pool h3 {
    font-weight: 600;
    font-size: 28px;
    position: relative;
    background-color: #42BA78;
    padding: 0 75px;
    display: inline-block;
    color: #fff;
}

.prize-pool h3:before {
    content: '';
    height: 1px;
    display: block;
    width: 56px;
    left: 0;
    top: 50%;
    position: absolute;
    background-color: #10416B;
}

.prize-pool h3:after {
    content: '';
    height: 1px;
    display: block;
    width: 56px;
    right: 0;
    top: 50%;
    position: absolute;
    background-color: #10416B;
}

.prize-money {
    margin-top: 40px;
    margin-bottom: 20px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    /* Firefox        */
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
}

.prize-pool h4 {
    font-size: 92px;
    font-weight: 600;
    color: #fff;
}

.prize-pool h4 i {
    font-size: 70px
}

.shortlisted {
    font-weight: 600;
    font-size: 18px;
    color: #05406B;
    padding: 20px 40px;
    margin: 30px 0 25px 0;
    border-top: 2px solid #B4C9D8;
    border-bottom: 2px solid #B4C9D8;
	text-align:justify;
}


.runner-ups {
    color: #6D6E71;
    font-size: 16px;
}


/******************* Rules *****************/

.rules {
    background-color: #05406B;
	background-color : #e94b4c;
}

.rules .container-fluid {
    max-width: 1000px;
}

.rule-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -webkit-column-gap: 70px;
    column-gap: 70px;
    color: #fff;
    font-size: 16px;
}

.rule-list li {
    margin-bottom: 25px;
    padding-left: 22px;
    position: relative;
    line-height: 1.8;
}

.rule-list li:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #42BA78;
    position: absolute;
    left: 0;
    top: 7px;
}


/******************* Partners *****************/

.partners h2 {
    margin-bottom: 20px;
}

.partner-list {
    text-align: center;
    padding-top: 20px;
}

.partner-list li {
    margin-right: 70px;
    
}

.partner-list li h3 {
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
    color: #42BA78;
    margin-bottom: 25px;
}

.partner-list li:last-child {
    margin-right: 0;
}

.partner-list li:first-child {
    margin-bottom: 50px;
    margin-right: 0;
}

.testimonial {
    padding: 40px 0 30px 0;
    background-color: #42BA78;
    text-align: center;
}

.testimonial .container-fluid {
    position: relative;
    max-width: 1050px;
}

.testimonial-list {
    margin: 0 50px;
}

.testimonial-image {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-list i {
    font-size: 44px;
    color: #fff;
}

.testimonial-quote {
    font-size: 16px;
    color: #fff;
    padding: 40px 0 30px 0;
    max-width: 850px;
    margin: 0 auto;
}

.testimonial-author {
    color: #05406B;
    max-width: 850px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}

.prev, .next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}


/******************* Contact *****************/

.contact {
    text-align: center;
}

.contact-list {
    padding: 30px 50px;
	border: 2px solid #03A9F4;
    display: inline-block;
}

.contact-list li {
    color: #05406B; 
   /*	color: #03A9F4; */
    font-size: 28px;
    font-weight: 600;
    padding: 0 40px;
   /* border-right: 2px solid #B4C9D8; */
	border-right: 2px solid #03A9F4;
    line-height: 1;
}
.contact-list li a {
	
	color: #05406B;
	/*color: #03A9F4 */
}
.contact-list li a:hover {
	opacity: 0.8;
}
.contact-list li:last-child {
    border: none;
}

.contact-list li i {
    font-size: 22px;
    color: #03A9F4;
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
}

.footer {
    margin-top: 120px;
}

.footer-logo {
    font-size: 22px;
    color: #05406B;
    font-weight: bold;
    font-family: 'noven';
}

.credits-list {
    /*margin-bottom: 45px;*/
}

.credits-list li {
    margin-right: 40px;
    font-size: 16px;
    color: #6D6E71;
}

.credits-list li:last-child {
    margin-right: 0;
}

.powered {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    max-width: 200px;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
}

.footer-logo {
	text-indent: -99999px;
	display: inline-block;
	width: 300px;
	height: 65px;
	background: url('../images/mits.png') no-repeat center;
	background-size: cover;
	image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/******************* Hamburger *****************/

.sticky .hamburger {
    top: 2px;
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    width: 26px;
    height: 21px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hamburger span {
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    background: #05406B;
    opacity: 1;
    -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hamburger.menu-close span, .home .hamburger span, .contact .hamburger span {
    background: #05406B;
}

.hamburger span:nth-child(even) {
    left: 50%;
}

.hamburger span:nth-child(odd) {
    left: 0px;
}

.hamburger span:nth-child(1), .hamburger span:nth-child(2) {
    top: 0px;
}

.hamburger span:nth-child(3), .hamburger span:nth-child(4) {
    top: 9px;
}

.hamburger span:nth-child(5), .hamburger span:nth-child(6) {
    top: 18px;
}

.hamburger.menu-close span:nth-child(1), .hamburger.menu-close span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.menu-close span:nth-child(2), .hamburger.menu-close span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.menu-close span:nth-child(1) {
    top: 6px;
    left: 3px;
}

.hamburger.menu-close span:nth-child(2) {
    top: 6px;
    left: calc(50% - 3px);
}

.hamburger.menu-close span:nth-child(3) {
    /*left: -50%;*/
    opacity: 0;
}

.hamburger.menu-close span:nth-child(4) {
    /*left: 100%;*/
    opacity: 0;
}

.hamburger.menu-close span:nth-child(5) {
    top: 14px;
    left: 3px;
}

.hamburger.menu-close span:nth-child(6) {
    top: 14px;
    left: calc(50% - 3px);
}


.t1
{
	color: white;
	
	
}


